@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Playfair+Display:wght@600&family=Titillium+Web&display=swap');

header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('/assets/img/imagem1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a {
    text-decoration: none;
}

/* CLASSES AUXILIARES */

.montserrat {
    font-family: 'Montserrat';
}

.playfair {
    font-family: 'Playfair Display';
}

.flex {
    display: flex;
}

.color-white {
    color: #FFFFFF;
}

.column {
    flex-direction: column;
    align-items: center;
}

.fixOnTop {
    position: fixed !important;
    top: 0px !important;
}

.logo__footer p {
    display: none;
}

.footer__links {
    display: none;
}

.contact {
    display: none;
}

.menu__container {
    display: none;
}

.header__container {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    color: #FFFFFF;
    align-items: center;
    flex-direction: column;
}

.title h3 {
    font-weight: 500;
    font-size: 18px;
}

.title h1 {
    font-weight: 600;
    font-size: 53px;
}

.buttons__container {
    justify-content: center;
    margin-top: 16px;
    padding: 0px;
    gap: 8px;
    width: 328px;
    height: 49px;
}

.buttons__container button {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    width: 160px;
    padding: 16px 24px;
    border: none;
    cursor: pointer;
}

.suits__view {
    background: #7A7266;
}

.reservations {
    background: #5A493E;
}

.nav__container {
    position: absolute;
    bottom: 0;
    align-items: center;
    height: 70px;
    width: 100%;
    display: flex;
    background: #2A2A2A;
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.12);
    justify-content: space-evenly;
    z-index: 2;
}

.reservation__button button {
    color: #FFFFFF;
    width: 105px;
    height: 45px;
    background: #7A7266;
    box-shadow: 0px 4px 20px rgba(46, 1, 25, 0.3);
    border: none;
    cursor: pointer;
}

.menu__icon i {
    color: white;
}

.menu__icon {
    width: 28px;
    height: 18px;
    justify-content: space-between;
}

.menu_hamburger {
    height: 2px;
    width: 100%;
    background-color: #FFFFFF;
}

.suits__container {
    background-color: #7A7266;
    height: 814px;
}

.subtitle__container {
    font-size: 34px;
    text-align: center;
    width: 312px;
    height: 69px;
    margin-top: 64px;
}

.carousel__flex {
    position: relative;
}

.arrow-border {
    position: absolute;
    width: 40px;
    height: 62px;
    opacity: 0.75;
    background-color: #D9D9D9;
}

.left {
    margin-right: 7px;
}

.right {
    margin-left: 7px;
}

#arrow_left,
#arrow_right {
    position: absolute;
    padding: 9px;
    box-shadow: 2px -2px 0 1px #2A2A2A inset;
    opacity: 0.9;
    border-width: 0 0 1px 1px;
}

#arrow_left {
    transform: rotate(45deg);
}

#arrow_right {
    transform: rotate(225deg);
}

.carousel-inner {
    height: 440px;
    width: 312px;
}

.carousel-control-next {
    opacity: 1 !important;
}

.carousel-control-prev {
    opacity: 1 !important;
}

.box_container {
    position: absolute;
    background-color: #FFFFFF;
    top: 346px;
    height: 195px;
    width: 280px;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
}

.suits__description h3 {
    font-size: 22px;
}

.suits__description p {
    font-size: 14px;
    margin-top: 8px;
}

.hyperlink {
    margin-top: 136px;
    width: 180px;
    height: 49px;
}

.hyperlink a {
    font-size: 14px;
    text-decoration: underline;
    padding: 16px 24px;
}

.more__button button {
    font-size: 14px;
    width: 125px;
    height: 49px;
    margin-top: 24px;
    padding: 16px 24px;
    border: none;
    cursor: pointer;
}

.motel__background {
    background-image: url('/assets/img/imagem3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 312px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.08));
}

.about__container {
    position: relative;
    height: 1056px;
    background-color: #EEEEEE;
}

.motel__description {
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    padding: 72px 32px;
    width: 312px;
    height: 696px;
    top: 290px;
}

.motel__description h3 {
    font-size: 34px;
}

.motel__description article p {
    font-weight: 400;
    line-height: 160%;
    font-size: 14px;
}

.courtesy__section {
    height: 1500px;
    background-color: #6C6359;
}

.courtesy__title {
    font-size: 34px;
    text-align: center;
    padding: 64px 0 32px 0;
}

.background__card {
    width: 100%;
    height: 224px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.image__description {
    font-size: 9px;
    font-weight: 600;
    position: relative;
    top: 206px;
    left: 8px;
}

.card_1 {
    background-image: url('/assets/img/cortesia1.jpg');
}

.card_2 {
    background-image: url('/assets/img/aniversario.jpg');
}

.card_3 {
    background-image: url('/assets/img/descontos.jpg');
}

.description__card {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 248px;
    height: 132px;
}

.description__card h3 {
    font-size: 22px;
    font-weight: 600;
}

.description__card p {
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}

.dsc__card2 {
    margin-top: 32px;
}

.box {
    width: 312px;
    height: 377px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
}

.box_2 {
    height: 428px;
}

.box__container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.more__courtesy__button {
    justify-content: center;
    margin-top: 32px;
}

.more__courtesy__button button {
    padding: 16px 24px;
    height: 49px;
    font-size: 14px;
    background: #2A2A2A;
    border: none;
    cursor: pointer;
}

.location__section {
    height: 674px;
    background-color: #EEEEEE;
    justify-content: center;
}

.location__container {
    background-color: #FFFFFF;
    width: 312px;
    height: 546px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.08));
}

.map {
    width: 100%;
    height: 312px;
}

.location__description {
    text-align: center;
    width: 100%;
    height: 234px;
    justify-content: space-evenly;
}

.location__description h3 {
    font-size: 34px;
    font-weight: 600;
}

.location__description p {
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}

.route button {
    padding: 16px 24px;
    height: 49px;
    border: none;
    cursor: pointer;
    background: #5A493E;
}

footer {
    height: 511px;
    background-color: #2A2A2A;
    justify-content: space-evenly;
}

.logo__footer img {
    width: 189px;
    height: 78.3px;
}

.bar {
    background-color: #D9D9D9;
    width: 296px;
    height: 1px;
}

.contact__container {
    flex-direction: column;
    width: 296px;
    height: 272px;
    justify-content: space-between;
}

.btn-1 {
    box-shadow: 0px 4px 10px rgba(80, 8, 21, 0.25);
}

.contact__btn button {
    width: 100%;
    cursor: pointer;
    padding: 16px 32px;
}

.background_btn {
    border: none;
    background: #7A7266;
}

.border_btn {
    border: 1.5px solid #FFFFFF;
    background-color: #2A2A2A;
}

.copyright {
    background-color: #000;
    font-family: 'Titillium Web';
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    height: 106px;
    text-transform: uppercase;
    padding-top: 12px;
}

@media(min-width: 1280px) {

    .background__nav {
        background-color: #2A2A2A !important;
        transition: 0.6s;
    }

    .nav__container {
        display: flex;
        justify-content: space-around;
        position: fixed;
        top: 0;
        background-color: transparent;
        transition: 0.6s;
        filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.12));
        height: 90px;
    }

    .reservation__button button {
        background-color: #FFFFFF;
        color: #2A2A2A;
    }

    .menu__icon {
        display: none;
    }

    .menu__container {
        display: block;
        height: 40px;
        padding: 8px 24px;
    }

    .menu__container ul li {
        font-size: 16px;
        color: #FFFFFF;
        display: inline-block;
        padding: 8px 24px;
        cursor: pointer;
    }

    .logo img {
        width: 113.4px;
        height: 54px;
    }

    .buttons__container {
        display: flex;
        justify-content: space-between;
        width: 336px;
    }

    .buttons__container button {
        padding: 12px 16px;
    }

    .suits__container {
        height: 782px;
    }

    .carousel__flex {
        width: 752px;
        height: 440px;
    }

    .carousel__container {
        width: auto;
        height: auto;
    }

    .carousel {
        width: 752px;
        height: 440px;
    }

    .carousel-inner {
        width: 100%;
        height: 100%;
    }

    .carousel-control-next,
    .carousel-control-prev {
        width: 6.5%;
    }

    .box_container {
        flex-direction: row;
        justify-content: space-evenly;
        top: 377px;
        width: 342px;
        height: 128px;
    }

    .more__button button {
        margin: 0;
    }

    .hyperlink {
        margin-top: 100px;
    }

    .about__motel {
        height: 704px;
    }

    .motel__background {
        margin-bottom: 32px;
        position: inherit;
        width: 568px;
        height: 544px;
    }

    .motel__description {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
        margin-top: 32px;
        position: inherit;
        width: 568px;
        height: 544px;
    }

    .about__container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        height: 704px;
    }

    .more__button {
        margin-top: 24px;
    }

    .courtesy__section {
        height: 655px;
    }

    .box {
        width: 368px;
        height: 377px;
    }

    .description__card {
        margin-top: 32px;
        width: 304px;
        height: 81px;
    }

    .location__section {
        height: 450px;
    }

    .location__container {
        display: flex;
        width: 992px;
        height: 290px;
    }

    .map {
        width: 496px;
        height: 290px;
    }

    iframe {
        width: 100%;
        height: 100%;
    }

    .location__description {
        justify-content: center;
        gap: 20px;
        width: 496px;
        height: 290px;
    }

    .location__description p {
        width: 260px;
    }

    footer {
        height: 290px;
    }

    .font-size {
        font-size: 14px;
    }

    .logo__footer {
        line-height: 22.4px;
        width: 263px;
        height: 154px;
    }

    .logo__footer img {
        width: auto;
    }

    .logo__footer p {
        display: block;
        margin-top: 32px;
        font-weight: 300;
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 106px;
    }

    .whatsapp h2 {
        font-size: 11px;
        padding-bottom: 10px;
    }

    .email h2 {
        padding-bottom: 10px;
        font-size: 11px;
    }

    .bar {
        display: none;
    }

    .contact__container {
        display: none;
    }

    .footer__links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 98px;
    }

    .auxiliar {
        display: flex;
        flex-direction: row;
        gap: 132px;
    }

    .copyright {
        height: 36px;
    }

}